<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFL3-Dave Nathaniel Yoseph-0706012110042.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacLandmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0430169229F68B6B005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043016A229F68B6C005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043016AC29F68B6C005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0430170D29F69C55005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0430171C29F69C57005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0430172629F69C58005AFDA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
